{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
           {% include "author.html" with author=post.author %}

            <div class="col-md-9">
            <!-- Начало блока с отдельным постом --> 
                    {% include "post_item.html" with post=post %}
                    {% include "comments.html" with items=post.comments %}
                <!-- Конец блока с отдельным постом --> 
            </div>
    </div>
</main>
{% endblock %}