{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user.username }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            {% include "author.html" with author=author %}
            <div class="col-md-9">

                <!-- Повторяющиеся записи --> 

                <!-- Начало блока с отдельным постом --> 
                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}
                <!-- Конец блока с отдельным постом --> 

                <!-- Остальные посты -->  

                <!-- Здесь постраничная навигация паджинатора -->
                {% if page.has_other_pages %}
                     {% include "paginator.html" with items=page paginator=paginator %}
                {% endif %}
     </div>
    </div>
</main>
{% endblock %}